.page-header {
    background-color: #009999;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.content {
    text-align: center;
    margin-top: 20px;
    background-color: white;
}

.post {
    margin-top: 30px;
    margin-right: 20px;
    width: 40%;
    border: 2px solid #009999;
    box-shadow: 5px 10px #009999;
    border-radius:6px;
    padding: 10px;
    text-align: center;
    color: #009999;
    float: left;
}

.detail {
    margin-top: 30px;
    margin-right: 30px;
    border: 2px solid #009999;
    box-shadow: 5px 10px #009999;
    border-radius:6px;
    padding: 10px;
    text-align: center;
    color: #009999;
}
.post h1 a, .post h1 a:visited, .detail h1, .detail p, .comment strong, .comment p {
    color: #000000;
}

.comment {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #009999;
    box-shadow: 5px 10px #009999;
    border-radius:6px;
    padding: 10px;
    text-align: center;
    color: #009999;
}